@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body {
  font-family: 'Libre Baskerville', serif;
}

/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

/*.App-header {*/
  /*background-color: #222;*/
  /*height: 150px;*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

/*.App-title {*/
  /*font-size: 1.5em;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/

a {
  color: #2e2e2e;
}

a:hover {
  color: #2e2e2e;
  text-decoration: none;
}

.nav-link {
  padding-right: .5rem;
  padding-left: .8rem;
}

.multicolored-gradient {
  fill: linear-gradient(to right, blue, violet, green, cyan, blue, violet); /* Standard syntax (must be last) */
  background: linear-gradient(to right, blue, violet, green, cyan, blue, violet); /* Standard syntax (must be last) */
  height: 1px;
  margin-top: 0;
}
